
*/*/.DS_Store
*/.DS_Store
.DS_Store
*/.idea
.idea
*/.vscode
.DS_Store
Debug
/*/Debug
/*/*/Debug
/*/*/*/Debug
/*/Release
/*/*/Release
/*/*/*/Release
/obj
*/obj
/*/*/obj
.vs
.vscode

/AudioPool.WebApi/Migrations
/AudioPool.WebApi/bin
/AudioPool.WebApi/obj
/AudioPool.Services/bin
/AudioPool.Services/obj
/AudioPool.Repository/bin
/AudioPool.Repository/obj
/AudioPool.Models/bin
/AudioPool.Models/obj


.fake

/AudioPool.WebApi/music.db
/AudioPool.WebApi/music.db-journal